<div class="{{JOB_CLASS}}">
  <div class="when" style="color: rgb(241, 196, 15); font-weight: 600; font-size: 9px">{{WHEN}}</div>
  <div class="body">
    <div class="head-line">{{COMPANY}}</div>
    <div class="title" style="color: rgb(74, 74, 74); font-weight: 400; font-size: 10px">
      <span style="color: rgb(74, 74, 74); font-weight: 400; font-size: 10px">{{JOB_TITLE}}</span><span class="dot" style="color: rgb(241, 196, 15)">·</span><span class="role-type" style="color: rgb(74, 74, 74); font-weight: 400">{{CONTRACT_TYPE}}</span>
    </div>
    <p class="desc" style="color: rgb(74, 74, 74); font-weight: 300; font-size: 9px">{{DESC}}</p>
    <div class="stack" style="color: rgb(138, 138, 138); font-family: Poppins; font-weight: 400; font-size: 9px">
      <b style="color: rgb(138, 111, 0); font-weight: 600">{{STACK_BOLD}}</b><span style="color: rgb(138, 138, 138); font-family: Poppins; font-weight: 400; font-size: 9px"> {{STACK_REST}}</span>
    </div>
  </div>
</div>
